<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" >
    <listeners>
        <listener class-name="AcademyTest.Listeners">

        </listener>
    </listeners>
    <test name="Validating Login">
        <classes>
            <class name="AcademyTest.HomePageTest"/>
        </classes>
    </test>
    <test name="Validating Navigation Bar">
        <classes>
            <class name="AcademyTest.NavBarValidationTest"/>
        </classes>
    </test>
    <test name="Validating Title">
        <classes>
            <class name="AcademyTest.TitleValidationTest"/>
        </classes>
    </test>
</suite>